/* .container {
  max-width: 1050px;

  overflow-y: scroll;
  max-height: 55vh;
  margin-top: 60px;
  margin-right: 80px;
 
}

.editemp {
  margin-top: 50px;
}

.form-row {
  display: flex;
}

.form-row .form-group {
  flex: 1;
  margin-right: 10px;
  margin-bottom: 10px; 
}


.btn-primary {
  margin-top: 0px;
}

.text-danger {
  color: red;
}
.ram{
  margin-top: 20px;
  width: 500px;
  margin-left: 100px;
}
.title{
  margin-top: 90px;
  margin-left: 250px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  width: 500px;
  margin-left: 400px;
}

.search-bar .form-row {
  flex: 1;
}

.search-bar .form-row .form-group.search-input {
  margin-right: 10px;
  width: 500px;
}

.search-bar .form-row .btn-primary {

  margin-top: 22px;
  height: 40px;
}


.toaster {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.toaster.success {
  background-color: #c9fdd1;
  border-color: #7ce28c;
}

.toaster.error {
  background-color: #fedede;
  border-color: #f36868;
}

.toaster.show {
  opacity: 1;
  visibility: visible;
}

.toaster .message {
  flex: 1;
}

.toaster .close-icon {
  cursor: pointer;
}


.form-container {
  position: relative;
}

.toaster-form {
  margin-bottom: 20px;
}
.card {
  width: 100%;
  height: 50%;
  min-height: 50%;
  
}

.mainHeader {
  border: 1px solid rgb(50, 122, 169);
  border-radius: 5px;
  background-color: rgb(50, 122, 169);
}
.classRow {
  padding: 10px;
}
 */

 .container {
  margin-left: 80px;
  margin-top: 80px;
  max-height:60vh;
  width: 80%;
}

.card {
  width: 100%;
  height: 50%;
  min-height: 50%;
  
  /* overflow: hidden; */
}

.mainHeader {
  border: 1px solid rgb(50, 122, 169);
  border-radius: 5px;
  background-color: rgb(50, 122, 169);
}

.classRow {
  padding: 10px;
}

.clearForm {
  float: left;
  text-align: left;
}

.title {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: white;
}
.buttons{
  display: flex; 
  margin-bottom: 13px;
}
#submit{
  margin-left: 78%;
}
  


.confirmForm {
  float: right;
  text-align: right;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-top: 5px;
  
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  border-color: 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 15px;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.text-danger {
  color: #dc3545;
}

.success-message {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  border-radius: 0.25rem;
}
.form-group{
  margin-left: 20px;
  margin-right: 20px;
}
.container1{
    height: 360px;
    padding-top: 41px;
    overflow-x: hidden;
    overflow-y: scroll;
}
input,
input::placeholder {
  font-size: 14px;
}
.options{
  font-size: 14px;
}
option{
  font-size: 14px;
}
select {
  font-size: 14px;
  color: #495057;
}
option:first-of-type {
   color:black;
  } 
.placeholder {
  font-size: 10px;
}
button#clear {
  height: 40px;
  width: 70px;
}
.alignGetCheck{
padding-left: 35px;
}
.chk-box{
  position: relative;
  height: 20px;
  width: 20px;
  left: 8px;
  top: 4px;
}
.bu{

  display: flex;

  justify-content: end;

  margin-top: 5px;

  margin-right: 10vh;

}
